<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <!-- <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      #send-message-form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      #send-message-form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style> -->
    <style>
      #messages-div {float: left; display: inline-block; width: 65%;}
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #send-message-form { position: fixed; bottom: 0; width: 65%; padding: 3px; padding-bottom: 10px}
      #send-message-form input { width: 90%;}
      #online-users-div {float: right; display: inline-block; padding-right: 10px; width: 30%;}
    </style>
  </head>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  <script>
      $(function () {
        var socket = io();
        var nickname;
        
        $('#send-message-form').submit(function() {
            // only send message if they've made a nickname
            if (nickname != null) {
                var emit_string = nickname + ": " + $('#m').val();
                socket.emit('chat message', emit_string);
                $('#m').val('');
            }
            else {
                alert("You must set a nickname before you can send a message!");
            }
            return false;
        });

        // when someone submits a nickname
        $('#set-nickname-form').submit(function() {
            nickname = $('#nickname-input').val();
            socket.emit('set nickname', $('#nickname-input').val());
            $('#set-nickname-form').remove();
            return false;
        });

        // when someone sends a chat message
        socket.on('chat message', function(msg) {
            $('#messages').append($('<li>').text(msg));
        });
        
        // when new someone connects
        socket.on('user connected', function(name) {
            $('#messages').append($('<li>').text(name + " has joined the chat :)"));
            $('#online-users').append($('<li>').attr("id",name).text(name));
        })

        // when someone disconnects
        socket.on('user disconnected', function(name) {
            $('#online-users li').remove("#" + name);
            $('#messages').append($('<li>').text(name + " disconnected from server :("));
        })
      });
  </script>

  <body>

    <form id="set-nickname-form" action="">
        Username: <input id="nickname-input" autocomplete="off" /><button>Submit</button>
    </form>

    <div id="online-users-div">
        <h3>Online Users</h3>
        <ul id="online-users">
            {{#each users}}
                <li id={{this}}>{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <div id="messages-div">
        <h3>Messages</h3>
        <ul id="messages"></ul>
        <form id="send-message-form" action="">
            <input id="m" autocomplete="off" /><button>Send</button>
        </form>
    </div>
  </body>
</html>